[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
	ignore = dirty
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	ignore = dirty
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	ignore = dirty
[submodule "meta-formuler"]
	path = meta-formuler
	url = https://github.com/formuler/meta-formuler.git
[submodule "meta-hd"]
	path = meta-hd
	url = https://github.com/HD-Digital/meta-hd.git
[submodule "meta-vuplus"]
	path = meta-vuplus
	url = https://github.com/vu-plus/meta-vuplus.git
[submodule "meta-xp"]
	path = meta-xp
	url = https://github.com/XP-Master/meta-xp.git
[submodule "meta-xpeedc"]
	path = meta-xpeedc
	url = https://github.com/OpenPLi/meta-xpeedc.git
[submodule "meta-zgemma"]
	path = meta-zgemma
	url = https://github.com/zgemma-star/meta-zgemma.git
[submodule "meta-miraclebox"]
	path = meta-miraclebox
	url = https://github.com/OpenPLi/meta-miraclebox.git
[submodule "meta-spycat"]
	path = meta-spycat
	url = https://github.com/open-spycat/meta-spycat.git
[submodule "meta-xtrend"]
	path = meta-xtrend
	url = https://github.com/nextv-xtrend/meta-xtrend.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-gi"]
	path = meta-gi
	url = https://github.com/GIDeveloperTeam/meta-gi.git
[submodule "meta-gfutures"]
	path = meta-gfutures
	url = https://github.com/HD-Digital/meta-gfutures.git
[submodule "meta-sab"]
	path = meta-sab
	url = https://github.com/mariner2/meta-sab.git
[submodule "meta-xsarius.pli5"]
	path = meta-xsarius.pli5
	url = https://github.com/pli3/meta-xsarius.pli5.git
[submodule "meta-gigablue"]
	path = meta-gigablue
	url = https://github.com/GigaBlue-STB/meta-gigablue
[submodule "meta-amiko"]
	path = meta-amiko
	url = https://github.com/open-amiko/meta-amiko.git
[submodule "meta-edision"]
	path = meta-edision
	url = https://github.com/edision-open/meta-edision.git
[submodule "meta-qviart"]
	path = meta-qviart
	url = https://github.com/pli3/meta-qviart-5.git
[submodule "meta-axasuhd"]
	path = meta-axasuhd
	url = https://github.com/Axas-UHD/meta-axasuhd.git
