#
# Creating your own OpenPli based image.
#
# To enable branding, copy this file to branding.conf and
# update the definitions at the end of the file
#
# Recently OpenPli introduced a branding option for the OpenPli image.
# This is done to avoid OpenPli based images to blindly use the OpenPli
# distribution feeds and direct support directly to the OpenPli webpages.
#
# The branding concept allows the image distributor to easily configure
# the image to use their own download servers and support websites
# and email addresses bootlogo etc.
#
# The branding process is quite simple.  In your OpenPli development tree
# create a file called 
#
# 	branding.conf
#
# In this file define:
#
# 	DISTRO_NAME = "myimage"
# 	DISTRO_HOST = "download.myhost.tld"
# 	CRASHADDR = "support email addres or website"
# 	BRANDINGDIR = "/path/to/openpli-oe-core/branding"
#
# DISTRO_NAME is the name of your image.
# DISTRO_HOST is the fully qualified hostname of your download server. 
# The complete download url will the become http://${DISTRO_HOST}/feeds/${FEED_NAME}/${MACHINE}
# (Note the '"' characters are important even in the value is a single word!)
#
# The BRANDINGDIR points to a directory containing specific files per package.
# The preferred name for this directory is
#
# 	branding
#
#
# The branding directory contains subdirectories for packages that need
# branding and will contain specific files that you may want to change.
# The files will be picked up in de .bb file.
# If such files are not there the defaults will be used. The defaults will
# create unresolvable email or website addresses and bootlogos and enigma movies
# that state that your image is based on OpenPli and directs support issues
# to the respective image developer.
#
# Currently the following files are recognized:
#
# 	branding/bootlogo/bootlogo-hd.mvi
# 	branding/bootlogo/bootlogo.mvi
# 	branding/enigma2/black.mvi
# 	branding/enigma2/radio-hd.mvi
# 	branding/enigma2/radio-sd.mvi
#
# Note to create MACHINE specific bootlogos, also create a
#
#      branding/bootlogo-MACHINE
#
# directory with the bootlogos
#
#
# The most important ones are the bootlogo files. Create your own
# bootlogo so one can recognise your images. But the OpenPli team
# request you at least to mention the fact that your image is
# "OpenPli based" and does not refer to the the OpenPli support
# sites (unless you requested and arranged an OpenPli subforum.)
#

DISTRO_NAME = "my-openpli-image"
DISTRO_FEED_URI = "http://myhost/feeds/${FEED_NAME}/${MACHINE}"
BRANDINGDIR = "/openpli/branding"
CRASHADDR = "support at  your-domain"

