KERNEL=="mtd*", ENV{DEVTYPE}=="mtd", SYMLINK+="block/by-name/$sysfs{name}"

KERNEL=="mmcblk0p*", SUBSYSTEM=="block", RUN+="/etc/udev/scripts/mmc-dev-mapping.sh"

